.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.maininfobox {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.infobox {
  width: 150px;
  height: 100px;
  /* background-color: #282c34; */
  border-radius: 20px;
  text-align: left;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
}

.infoboxicon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.totalbillingamounts {
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}